@font-face {
    font-family: 'miso-bold';
    src: url('../fonts/miso-bold-webfont.woff2') format('woff2'),
         url('../fonts/miso-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'miso-light';
    src: url('../fonts/miso-light-webfont.woff2') format('woff2'),
         url('../fonts/miso-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300');

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
}

.container {
	background-color: #fdde7e;
	display: flex;
	flex-direction: row;
	width: 1200px;
	height: 600px;
	margin: auto;
	justify-content: space-around;
	align-items: center;
	padding: 50px 15px;
}

.flexbox {
	display: flex;
	background-color: #fff;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 40px;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 #cab265;
}

.flexbox--aside {
	width: 365px;
	height: 445px;
}

.flexbox--center {
	width: 360px;
	height: 505px;
}

.flexbox__price {
	color: #02995b;
	font-family: 'miso-bold';
	font-size: 70px;
}

.flexbox__img img {
	width: 135px;
	height: 135px;
}

.flexbox__header {
	font-family: 'miso-light';
	font-size: 56px;
	text-align: center;
	max-width: 200px;
	flex-basis: 70px;
	overflow: hidden;
	margin: 0;
}

.flexbox__descr {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	text-align: center;
	font-weight: 300;
	padding: 0 60px;
	flex-basis: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
}